.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modalBox {
  width: 500px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  overflow: auto;
  margin-bottom: 30px;
}
.contents {
  padding: 16px;
  border: 1px solid black;
}
.closeBtn {
  float: right;
}

.songListDiv {
  //나중에 modal로 바꾸자
  border: 1px solid black;
  padding: 5%;
}
